body{
    background-image: url(imagens/back.png);
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}



img{
    animation: fly 1.6s linear infinite;

  
    width: 200px;
}

img:hover{
    animation-play-state: paused;
}

@keyframes fly {
    0% {
      transform: translateX(200px);
    }

    50%{
        transform: translate(200%,-50px);
    }

    100% {
        transform: translateX(calc(98.5vw - 200px));
    }
}